n8n-workflows/workflow-b-user-matching.json
{
  "name": "Workflow B: User-Loan Matching",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "user-matching",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "user-matching-webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT user_id, email, monthly_income, credit_score, employment_status, age\nFROM users\nWHERE created_at >= NOW() - INTERVAL '1 hour'\nORDER BY created_at DESC;",
        "options": {}
      },
      "id": "fetch-new-users",
      "name": "Fetch New Users",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 300],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Loan Eligibility DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT product_id, product_name, provider, interest_rate, min_income, min_credit_score, min_age, max_age, max_loan_amount\nFROM loan_products\nWHERE is_active = TRUE\nORDER BY interest_rate ASC;",
        "options": {}
      },
      "id": "fetch-products",
      "name": "Fetch Loan Products",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [450, 450],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Loan Eligibility DB"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "/**\n * OPTIMIZATION STAGE 1: SQL-Based Pre-filtering\n * This runs fast SQL queries to eliminate obvious mismatches\n * Reduces dataset by 70-80%\n */\n\nconst users = $('Fetch New Users').all();\nconst products = $('Fetch Loan Products').all();\n\nconst preFilteredPairs = [];\n\n// Cross-join with SQL-like filtering in JavaScript\nfor (const userItem of users) {\n  const user = userItem.json;\n  \n  for (const productItem of products) {\n    const product = productItem.json;\n    \n    // Fast numeric comparisons (Stage 1)\n    if (user.monthly_income >= product.min_income &&\n        user.credit_score >= product.min_credit_score &&\n        user.age >= product.min_age &&\n        user.age <= (product.max_age || 100)) {\n      \n      preFilteredPairs.push({\n        json: {\n          user_id: user.user_id,\n          product_id: product.product_id,\n          user: user,\n          product: product,\n          stage: 'pre-filtered'\n        }\n      });\n    }\n  }\n}\n\nconsole.log(`Stage 1 (SQL Pre-filter): ${users.length} users × ${products.length} products = ${users.length * products.length} total`);\nconsole.log(`After pre-filtering: ${preFilteredPairs.length} potential matches (${((preFilteredPairs.length / (users.length * products.length)) * 100).toFixed(1)}%)`);\n\nreturn preFilteredPairs;"
      },
      "id": "stage1-prefilter",
      "name": "Stage 1: SQL Pre-Filter",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "functionCode": "/**\n * OPTIMIZATION STAGE 2: Business Rules Filtering\n * Apply complex eligibility rules\n * Further reduces by 15-20%\n */\n\nconst pair = $input.item.json;\nconst user = pair.user;\nconst product = pair.product;\n\n// Business rules checks\nconst rules = {\n  employment_valid: true,\n  income_ratio_valid: true,\n  credit_tier_match: true\n};\n\n// Employment status validation\nconst validEmploymentStatuses = ['full-time', 'self-employed', 'part-time'];\nif (!validEmploymentStatuses.includes(user.employment_status.toLowerCase())) {\n  rules.employment_valid = false;\n}\n\n// Income-to-loan ratio (if max_loan_amount exists)\nif (product.max_loan_amount) {\n  const monthlyPayment = product.max_loan_amount / 60; // Simplified\n  const debtToIncomeRatio = (monthlyPayment / user.monthly_income);\n  \n  if (debtToIncomeRatio > 0.43) { // Max DTI ratio\n    rules.income_ratio_valid = false;\n  }\n}\n\n// Credit score tier matching\nif (user.credit_score < 700 && product.interest_rate < 7.0) {\n  // High-tier products unlikely for lower credit scores\n  rules.credit_tier_match = false;\n}\n\n// Calculate match score based on how well user exceeds minimum requirements\nlet matchScore = 0;\n\nif (Object.values(rules).every(r => r)) {\n  // Income score (0-0.3)\n  const incomeExcess = (user.monthly_income - product.min_income) / product.min_income;\n  const incomeScore = Math.min(incomeExcess * 0.3, 0.3);\n  \n  // Credit score (0-0.5)\n  const creditExcess = (user.credit_score - product.min_credit_score) / (850 - product.min_credit_score);\n  const creditScore = creditExcess * 0.5;\n  \n  // Interest rate (0-0.2) - lower is better\n  const rateScore = (20 - Math.min(product.interest_rate, 20)) / 20 * 0.2;\n  \n  matchScore = Math.min(incomeScore + creditScore + rateScore, 1.0);\n}\n\n// Only pass matches with score > 0.3\nif (matchScore >= 0.3) {\n  return [{\n    json: {\n      user_id: user.user_id,\n      product_id: product.product_id,\n      user: user,\n      product: product,\n      match_score: Math.round(matchScore * 100) / 100,\n      rules_passed: rules,\n      stage: 'business-filtered'\n    }\n  }];\n}\n\nreturn [];"
      },
      "id": "stage2-business-rules",
      "name": "Stage 2: Business Rules",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.match_score }}",
              "operation": "smaller",
              "value2": 0.7
            }
          ]
        }
      },
      "id": "check-ambiguous",
      "name": "Ambiguous Case?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "requestMethod": "POST",
        "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-pro:generateContent",
        "jsonParameters": true,
        "bodyParametersJson": "={\n  \"contents\": [{\n    \"parts\": [{\n      \"text\": \"Analyze if this user qualifies for this loan product. User: income ${{ $json.user.monthly_income }}, credit score {{ $json.user.credit_score }}, age {{ $json.user.age }}, employment {{ $json.user.employment_status }}. Product: {{ $json.product.product_name }}, min income ${{ $json.product.min_income }}, min credit {{ $json.product.min_credit_score }}, rate {{ $json.product.interest_rate }}%. Respond with only YES or NO and a brief reason.\"\n    }]\n  }]\n}",
        "options": {}
      },
      "id": "stage3-ai-check",
      "name": "Stage 3: AI Verification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1250, 200],
      "credentials": {
        "httpHeaderAuth": {
          "id": "2",
          "name": "Gemini API Key"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Parse AI response\nconst response = $input.item.json;\nconst aiText = response.candidates?.[0]?.content?.parts?.[0]?.text || '';\n\nconst isQualified = aiText.toUpperCase().includes('YES');\n\nif (isQualified) {\n  const originalData = $node['Ambiguous Case?'].json;\n  return [{\n    json: {\n      ...originalData,\n      match_score: Math.min(originalData.match_score + 0.1, 0.99),\n      ai_verified: true,\n      ai_reason: aiText,\n      stage: 'ai-verified'\n    }\n  }];\n}\n\nreturn [];"
      },
      "id": "parse-ai-response",
      "name": "Parse AI Response",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1450, 200]
    },
    {
      "parameters": {},
      "id": "merge-matches",
      "name": "Merge All Matches",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2,
      "position": [1450, 350]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO matches (user_id, product_id, match_score, match_reason)\nVALUES ($1, $2, $3, $4)\nON CONFLICT (user_id, product_id) DO UPDATE SET\n  match_score = EXCLUDED.match_score,\n  match_reason = EXCLUDED.match_reason,\n  created_at = CURRENT_TIMESTAMP;",
        "additionalFields": {
          "mode": "transaction"
        }
      },
      "id": "save-matches",
      "name": "Save Matches to DB",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [1650, 350],
      "credentials": {
        "postgres": {
          "id": "1",
          "name": "Loan Eligibility DB"
        }
      }
    },
    {
      "parameters": {
        "functionCode": "// Trigger notification workflow\nconst matchCount = $input.all().length;\nconst uniqueUsers = [...new Set($input.all().map(item => item.json.user_id))];\n\nconsole.log(`User-Loan Matching completed`);\nconsole.log(`Total matches: ${matchCount}`);\nconsole.log(`Users matched: ${uniqueUsers.length}`);\n\nreturn [{\n  json: {\n    success: true,\n    matches_count: matchCount,\n    users_matched: uniqueUsers.length,\n    timestamp: new Date().toISOString(),\n    trigger_notifications: true\n  }\n}];"
      },
      "id": "trigger-notifications",
      "name": "Trigger Notifications",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1850, 350]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Fetch New Users",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Loan Products",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch New Users": {
      "main": [
        [
          {
            "node": "Stage 1: SQL Pre-Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Loan Products": {
      "main": [
        [
          {
            "node": "Stage 1: SQL Pre-Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 1: SQL Pre-Filter": {
      "main": [
        [
          {
            "node": "Stage 2: Business Rules",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Stage 2: Business Rules": {
      "main": [
        [
          {
            "node": "Ambiguous Case?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ambiguous Case?": {
      "main": [
        [
          {
            "node": "Stage 3: AI Verification",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Merge All Matches",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Stage 3: AI Verification": {
      "main": [
        [
          {
            "node": "Parse AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Response": {
      "main": [
        [
          {
            "node": "Merge All Matches",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge All Matches": {
      "main": [
        [
          {
            "node": "Save Matches to DB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Matches to DB": {
      "main": [
        [
          {
            "node": "Trigger Notifications",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2025-12-08T00:00:00.000Z",
  "versionId": "1"
}
